In [7]:
import pandas as pd
import datetime
import deafrica_conflux.io

In [3]:
conflux_table = pd.DataFrame(
        {
            "band1": [0, 1, 2],
            "band2": [5, 4, 3],
        },
        index=["uid1", "uid2", "uid3"],
    )
conflux_table

      band1  band2
uid1      0      5
uid2      1      4
uid3      2      3

In [8]:
test_date = datetime.datetime(2018, 1, 1)
deafrica_conflux.io.write_table_to_parquet("name", "uuid", test_date, conflux_table, tmp_path / "outdir")
outpath = tmp_path / "outdir" / "20180101" / "name_uuid_20180101-000000-000000.pq"

NameError: name 'tmp_path' is not defined